.profile-page {
  display: flex;
  justify-content: center;
  padding: 60px;
}

.profile-card {
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  width: 450px;
  text-align: center;
}

.profile-card h1 {
  margin-bottom: 20px;
}

.profile-card h2 {
  color: #6C63FF;
  margin-bottom: 15px;
}

.profile-card p {
  margin: 10px 0;
  font-size: 18px;
}
.profile-card input{

width:100%;

padding:12px;

margin-top:10px;

border-radius:10px;

border:1px solid #ddd;

}

.profile-card button{

margin-top:20px;

padding:12px 25px;

border:none;

background:#6C63FF;

color:white;

border-radius:10px;

cursor:pointer;

font-size:16px;

transition:.3s;

}

.profile-card button:hover{

background:#5848d8;

}